[Desktop Entry]
Type=Application
Name=Godot Engine
GenericName=Game Engine
Comment=Multi-platform 2D and 3D game engine
Exec=sh -c "exec \\$HOME/.local/share/mise/shims/godot \\"\\$@\\"" sh %f
Icon=godot
Terminal=false
Categories=Development;IDE;
MimeType=application/x-godot-project;
StartupWMClass=Godot
Keywords=godot;game;engine;
